@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueRegular.eot");
  src: local("UniNeueRegular"), local("UniNeueRegular"), url("../fonts/uni-neue/UniNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueRegular.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueRegular.woff") format("woff"), url("../fonts/uni-neue/UniNeueRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueBook.eot");
  src: local("UniNeueBook"), local("UniNeueBook"), url("../fonts/uni-neue/UniNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueBook.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueBook.woff") format("woff"), url("../fonts/uni-neue/UniNeueBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueBold.eot");
  src: local("UniNeueBold"), local("UniNeueBold"), url("../fonts/uni-neue/UniNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueBold.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueBold.woff") format("woff"), url("../fonts/uni-neue/UniNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Black';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }

.page-wrapper {
  font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  flex: 1 0 auto;
  z-index: 10; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex; }

.static-header {
  width: 100%;
  height: 100%;
  object-fit: contain; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  background: #F5F5F5; }

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  .container {
    max-width: 100%; } }

@media (min-width: 1230px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding-right: 0;
    padding-left: 0; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 42px;
  line-height: 42px; }

h2 {
  font-size: 42px;
  line-height: 42px; }

h3 {
  font-size: 18px;
  line-height: 26px; }

h4 {
  font-size: 16px;
  line-height: 28px; }

h5 {
  font-size: 16px;
  line-height: 26px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

p {
  font-size: 14px;
  line-height: 23px; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #1E1E1E;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  text-overflow: ellipsis;
  outline: none;
  height: 120px;
  resize: none; }

input {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #1E1E1E;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  text-overflow: ellipsis;
  outline: none; }

.btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 1px solid #ED1C24;
  background: #ED1C24;
  box-shadow: 0px 13px 22px rgba(237, 28, 36, 0.24);
  color: #FFFFFF; }
  .btn-primary:hover {
    background: #ffffff;
    color: #ED1C24; }

.btn-secondary {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FF7B0F;
  padding: 18px 53px;
  background: #FFFFFF;
  border: 1px solid #FF7B01;
  border-radius: 6px; }
  .btn-secondary:hover {
    background: #FF7B0F;
    color: #ffffff; }

.title-section {
  font-family: "Montserrat Black";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 79px;
  margin-bottom: 40px;
  -webkit-text-stroke: 5px #fff;
  letter-spacing: 0.01em;
  color: #262B3B;
  position: relative;
  text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
  z-index: 1; }
  .title-section:after {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -63px;
    right: 0;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='126' viewBox='0 0 122 126' fill='none'%3E%3Cpath d='M43.5138 0H122L78.4862 126H0L43.5138 0Z' fill='%23ED1C24'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 128px;
    height: 126px; }
  .title-section h2 {
    font-size: inherit;
    line-height: inherit;
    color: #1E1E1E; }
  .title-section span {
    color: #FF7B0F; }
  .title-section.title-section__white {
    color: #ffffff; }

.subtitle-section {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #1E1E1E; }
  .subtitle-section.subtitle-section__white {
    color: #ffffff; }

.text-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #2F2F2F; }
  .text-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 10px; }
  .text-section a {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #FF7B0F;
    text-decoration: underline 1px dashed #FF7B0F; }
  .text-section ul {
    margin-top: 18px;
    margin-bottom: 20px; }
    .text-section ul li {
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      padding-left: 57px;
      color: #2C2C2C;
      margin-bottom: 13px;
      position: relative; }
      .text-section ul li:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.67391L4.2381 10L13 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: 11px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF7B0F; }
  .text-section h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2C2C2C; }

ol {
  list-style: none;
  counter-reset: item; }
  ol li {
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #1E1E1E;
    padding-left: 48px;
    position: relative;
    counter-increment: item; }
    ol li:before {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 0;
      content: counter(item);
      width: 31px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      color: #ffffff;
      background: #FF7B0F;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px; }

.tab-item {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease; }
  .tab-item.active {
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1; }

@media screen and (max-width: 1200px) {
  html {
    font-size: calc((100vw / 12) / 10); } }

@media screen and (max-width: 992px) {
  html {
    font-size: calc((100vw / 12) / 10); } }

.hero-test-text {
  font-size: 1.4rem;
  line-height: 1.2; }

@media screen and (min-width: 992px) {
  .dn-d {
    display: none; } }

.dn-m {
  display: none; }
  @media screen and (min-width: 992px) {
    .dn-m {
      display: block; } }

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 12px 0; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-contact {
    display: flex;
    flex-wrap: wrap; }
    .header-contact a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      margin-left: 53px;
      display: flex;
      align-items: center; }
      .header-contact a .icon {
        width: 13px;
        height: 13px;
        fill: #ED1C24;
        margin-right: 5px; }
      .header-contact a:first-of-type {
        margin-left: 0; }
      .header-contact a.header-email {
        font-weight: 400; }

.footer {
  background: #ffffff; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; }
  .footer-top {
    padding: 38px 0 42px; }
  .footer-logo {
    display: flex; }
    .footer-logo__text {
      margin-left: 25px;
      padding-left: 13px;
      padding-top: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #2C2C2C;
      border-left: 1px solid #E2E2E2;
      display: flex;
      align-items: center; }
      .footer-logo__text span {
        display: inline-block;
        max-width: 150px; }
  .footer-service-nav {
    max-width: 340px;
    padding-top: 10px;
    border-right: 1px solid #E2E2E2; }
    .footer-service-nav ul {
      display: flex;
      flex-wrap: wrap; }
    .footer-service-nav li {
      width: 50%;
      line-height: 1;
      margin-bottom: 10px; }
    .footer-service-nav a {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #2C2C2C; }
  .footer-nav {
    max-width: 200px; }
    .footer-nav ul {
      display: flex;
      flex-wrap: wrap; }
    .footer-nav li {
      width: 50%; }
    .footer-nav a {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #2C2C2C; }
  .footer-bottom {
    border-top: 1px solid #E2E2E2;
    padding: 20px 0 25px; }
    .footer-bottom a {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: #818181; }

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  visibility: hidden;
  transition: all ease 300ms;
  z-index: -1;
  text-align: center; }
  .popup.active {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 150; }
  .popup-wrap {
    position: relative;
    max-width: 400px;
    width: 100%;
    text-align: left;
    background: #ffffff;
    margin: 0 auto;
    padding: 15px;
    z-index: 121;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 32.9374px rgba(0, 50, 111, 0.1); }
  .popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px; }
    .popup-close:before, .popup-close:after {
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #FF7B0F; }
    .popup-close:before {
      transform: rotate(45deg); }
    .popup-close:after {
      transform: rotate(-45deg); }
  .popup-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #1E1E1E;
    margin-bottom: 10px;
    text-align: center; }
    .popup-title span {
      color: #FF7B0F; }
  .popup-subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-align: center; }
  .popup-form {
    max-width: 420px;
    width: 100%;
    position: relative;
    z-index: 2; }
    .popup-form label {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #1E1E1E;
      display: block;
      text-align: left;
      margin-bottom: 10px; }
    .popup-form input, .popup-form textarea {
      margin-bottom: 20px; }
    .popup-form__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .popup-form .btn-primary {
      width: 100%;
      max-width: 190px; }
    .popup-form .politic {
      max-width: 145px;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #1E1E1E; }
      .popup-form .politic a {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        color: #FF7B0F; }
  .popup-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }

.hero {
  padding: 155px 0 70px;
  background-size: cover; }
  .hero-title {
    font-family: "Montserrat Black";
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 79px;
    letter-spacing: 0.01em;
    color: #262B3B;
    -webkit-text-stroke: 5px #fff;
    text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
    max-width: 495px;
    margin-bottom: 40px; }
  .hero-text {
    max-width: 343px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #262B3B;
    margin-bottom: 63px; }

.container-fluid {
  max-width: 1544px;
  margin: 0 auto;
  width: 100%; }

.bg-text {
  position: absolute;
  color: transparent;
  font-family: "Montserrat Black";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 183px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #A5ADC2;
  transform: rotate(90deg); }

.about-wrap {
  display: flex;
  align-items: center;
  padding: 30px; }

.about-desc {
  padding: 0 70px; }

.about .bg-text {
  right: 100px; }

@media screen and (max-width: 1600px) {
  .question-media {
    max-width: 515px;
    right: -100px;
    background-size: contain; }
    .question-media img {
      max-width: 500px; } }

@media screen and (max-width: 1440px) {
  .question-media {
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 400px; }
    .question-media img {
      max-width: 400px; }
  .question-form {
    margin: 0 0 0 auto; } }

@media screen and (max-width: 1230px) {
  .page-content {
    padding-top: 196px; }
  .team-slider .slick-list, .reviews-slider .slick-list, .work-slider .slick-list {
    margin: 0 -15px 0; }
  .header-form {
    width: 260px; }
  .header-bottom .sub-nav {
    top: 196px; }
  .header-bottom li {
    width: auto;
    max-width: 100%;
    margin-right: 10px; }
    .header-bottom li:last-of-type {
      margin-right: 0;
      max-width: 100px; }
  .header-bottom a img {
    width: 30px; }
  .header-bottom a span {
    width: calc(100% - 30px);
    margin-left: 5px; }
  .hero-media {
    top: 100px;
    max-width: 400px;
    background-size: 400px;
    right: 0; }
    .hero-media img {
      max-width: 400px; }
  .service-item__title {
    font-size: 18px; }
  .banner-wrap {
    padding: 30px 0 40px 30px; }
  .banner-media {
    width: 100%;
    max-width: 380px;
    background-size: 380px; }
    .banner-media img {
      max-width: 290px; }
  .information-item__media {
    width: 40%; }
  .information-item__desc {
    width: calc(60% - 15px);
    max-width: 60%; }
  .advantages-item {
    padding: 20px; }
  .numbers-inner__title {
    padding: 10px; }
  .numbers-item {
    max-width: 50%;
    padding: 10px; }
    .numbers-item:nth-of-type(2) {
      margin: 0; }
    .numbers-item__title {
      width: calc(100% - 80px); }
    .numbers-item__number {
      height: 80px;
      width: 80px;
      font-size: 20px; }
  .banner.banner-second .banner-wrap {
    padding: 30px 0 40px 30px; }
  .banner.banner-second .banner-media {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }
  .banner.banner-second .banner-form {
    max-width: 470px; }
    .banner.banner-second .banner-form form label {
      max-width: 220px; }
  .question-desc {
    padding-top: 0; }
  .question .title-section {
    font-size: 36px;
    line-height: 46px; }
  .question-form .politic {
    width: 100%;
    max-width: 100%; }
  .question-form__bottom {
    flex-direction: column;
    align-items: flex-start; }
    .question-form__bottom .btn-primary {
      margin-bottom: 10px; }
  .hero-form form label {
    max-width: calc(100% - 240px); }
  .hero-price span {
    font-size: 16px;
    line-height: 24px; }
  .hero-price button {
    font-size: 14px;
    line-height: 18px; }
  .hero-bottom__list {
    flex-wrap: wrap; }
  .hero-bottom__item {
    width: 50%;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box; } }

@media screen and (max-width: 992px) {
  .header-bottom .sub-nav__media {
    display: none; }
  .header-bottom .sub-nav {
    box-shadow: none; }
  .header-bottom a:after {
    bottom: -5px; }
  .services-info, .services-gallery {
    padding: 50px 0; }
  .popular {
    padding: 50px 0; }
    .popular-wrap {
      padding: 15px; }
  .hero {
    padding: 0 0 50px; }
    .hero-media {
      display: none; }
    .hero-desc {
      max-width: 100%;
      width: 100%;
      min-height: auto;
      margin-bottom: 30px;
      padding-top: 50px; }
    .hero-info {
      max-width: 100%; }
    .hero-title {
      font-size: 30px;
      line-height: 36px; }
  .header-logo {
    margin-right: 10px;
    width: 140px; }
    .header-logo a {
      width: 100%; }
      .header-logo a img {
        width: 100%; }
  .header-social {
    width: 100%;
    max-width: 130px;
    padding-right: 0; }
    .header-social__phone {
      font-size: 14px;
      line-height: 14px;
      padding-right: 0; }
      .header-social__phone a {
        font-size: 14px;
        line-height: 16px; }
        .header-social__phone a b {
          font-size: 14px;
          line-height: 16px; }
    .header-social__messenger {
      display: none; }
  .header {
    display: grid; }
    .header-top {
      grid-area: 3 / 1 / 4 / 2; }
    .header-cennter {
      grid-area: 1 / 1 / 2 / 2; }
    .header-bottom {
      grid-area: 2 / 1 / 3 / 2; }
    .header-logo {
      margin-right: 20px; }
      .header-logo__text {
        display: none; }
    .header-top {
      z-index: -1;
      opacity: 0;
      width: 100%;
      visibility: hidden;
      left: -100%;
      transition: left ease 300ms;
      position: absolute; }
      .header-top .container {
        align-items: center; }
    .header-nav ul {
      flex-direction: column; }
    .header-nav li {
      margin: 0 0 10px;
      line-height: 1; }
      .header-nav li:first-of-type {
        margin: 0 0 10px; }
      .header-nav li:after {
        display: none; }
    .header-nav a {
      display: inline-flex; }
    .header-bottom {
      border-top: 0;
      position: absolute;
      padding-bottom: 30px;
      width: 100%;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      left: -100%;
      transition: left ease 300ms; }
      .header-bottom ul {
        flex-direction: column; }
      .header-bottom li {
        margin: 0 0 10px;
        position: relative; }
        .header-bottom li:last-of-type {
          width: 100%;
          max-width: 100%; }
        .header-bottom li.active:before {
          transform: rotate(135deg); }
        .header-bottom li:before {
          position: absolute;
          content: '';
          right: 7px;
          top: 20px;
          margin-top: -7px;
          width: 14px;
          height: 14px;
          transform: rotate(-45deg);
          border-bottom: 1px solid #2F2F2F;
          border-left: 1px solid #2F2F2F; }
        .header-bottom li ul li:before {
          display: none; }
      .header-bottom a {
        display: inline-flex; }
        .header-bottom a img {
          width: 40px; }
      .header-bottom .header-social {
        display: flex;
        width: 270px; }
      .header-bottom .sub-nav {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        position: relative;
        max-height: 100%;
        padding: 0;
        top: 0;
        background: transparent;
        display: none; }
    .header-btn {
      display: block; }
    .header-center {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03); }
      .header-center .header-form {
        display: none; }
    .header-form {
      margin: 0 auto; }
    .header.active {
      position: fixed;
      overflow: auto;
      top: 0;
      background: #ffffff;
      width: 100%;
      height: 100vh;
      z-index: 100; }
      .header.active .header-center .container {
        padding-bottom: 20px;
        border-bottom: 1px solid #E2E2E2; }
      .header.active .header-bottom,
      .header.active .header-top {
        position: relative;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        left: 0; }
  .page-content {
    padding-top: 68px; }
  .title-section {
    font-size: 36px;
    line-height: 46px; }
  .subtitle-section {
    font-size: 18px;
    line-height: 36px; }
  .text-section {
    font-size: 16px;
    line-height: 28px; }
    .text-section p {
      font-size: 16px;
      line-height: 28px; }
    .text-section ul li {
      font-size: 16px;
      line-height: 28px;
      padding-left: 40px;
      margin-bottom: 8px; }
      .text-section ul li:before, .text-section ul li:after {
        width: 29px;
        height: 29px; }
  ol li {
    font-size: 16px;
    line-height: 18px;
    padding-left: 35px;
    margin-bottom: 10px; }
    ol li:before {
      width: 25px;
      height: 25px;
      font-size: 14px;
      line-height: 14px;
      margin-top: -12px; }
  .hero-bottom {
    position: relative;
    bottom: 0; }
  .service {
    padding: 50px 0; }
    .service-item {
      width: calc(33.3333% - 30px); }
      .service-item__title {
        min-height: 48px; }
  .how_work {
    padding: 50px 0 20px; }
    .how_work-item {
      width: calc(50% - 30px); }
  .price {
    padding: 50px 0; }
    .price-table thead th {
      padding: 0 15px; }
    .price-table tbody td {
      padding: 0 15px; }
    .price-table tr {
      height: 50px; }
    .price-table__btn {
      padding: 10px 0; }
    .price-table__inner {
      max-height: 450px; }
  .banner {
    padding: 50px 0; }
    .banner-desc {
      width: 50%; }
    .banner-title {
      font-size: 30px;
      line-height: 36px; }
    .banner-text {
      font-size: 16px;
      line-height: 30px; }
      .banner-text a {
        font-size: 20px;
        line-height: 1;
        display: block;
        margin-left: 0; }
        .banner-text a b {
          font-size: 22px;
          line-height: 1; }
    .banner-messenger ul {
      flex-direction: column; }
    .banner-messenger li {
      margin-bottom: 10px; }
    .banner-messenger a img {
      width: 30px; }
  .information {
    padding: 50px 0; }
    .information-item {
      margin-bottom: 30px; }
      .information-item__desc {
        padding-top: 0; }
      .information-item__text ol li {
        margin-bottom: 10px; }
  .advantages {
    padding: 50px 0; }
    .advantages-item {
      padding: 20px;
      width: calc(50% - 30px); }
  .about {
    padding: 50px 0; }
  .numbers {
    padding: 50px 0; }
    .numbers .title-section {
      margin-bottom: 20px; }
    .numbers-inner {
      width: calc(100% - 30px); }
    .numbers-item__title {
      max-width: 50%; }
  .team {
    padding: 50px 0; }
  .banner.banner-second .banner-media {
    z-index: 1;
    width: 40%;
    max-width: 380px;
    background-size: 380px; }
    .banner.banner-second .banner-media img {
      right: 0; }
  .banner.banner-second .banner-title {
    line-height: 34px; }
  .banner.banner-second .banner-desc {
    position: relative;
    z-index: 2;
    max-width: 550px;
    width: 100%; }
  .banner.banner-second .banner-text {
    max-width: 440px; }
  .company, .work {
    padding: 50px 0; }
  .location {
    padding: 50px 0; }
    .location-wrap {
      padding: 15px; }
    .location-title {
      font-size: 28px;
      line-height: 34px; }
    .location-list li {
      font-size: 16px;
      line-height: 30px;
      margin: 0 10px 10px; }
  .reviews {
    padding: 0; }
    .reviews-item {
      padding: 15px; }
  .faq {
    padding: 35px 0 50px; }
    .faq-item.active .faq-item__title {
      padding: 15px; }
    .faq-item__title {
      padding: 15px; }
    .faq-item__text {
      padding: 0 15px 15px; }
  .question {
    padding: 50px 0; }
    .question-media {
      display: none; }
    .question-desc {
      width: 50%; }
    .question-form {
      padding: 15px;
      width: 50%; }
      .question-form input, .question-form textarea {
        margin-bottom: 10px; }
    .question .text-section {
      font-size: 16px;
      line-height: 28px; }
    .question-call span {
      font-size: 16px;
      line-height: 28px; }
    .question-call a {
      font-size: 18px;
      line-height: 24px; }
      .question-call a b {
        font-size: 20px;
        line-height: 24px; }
    .question-email a {
      font-size: 16px;
      line-height: 20px; }
  .footer-logo__text {
    display: none; }
  .footer-service-nav {
    max-width: 280px; }
  .contact-wrap {
    margin-bottom: 20px; }
  .contact-item {
    padding: 15px; }
    .contact-item__title {
      margin-bottom: 10px; }
    .contact-item__text {
      font-size: 16px;
      line-height: 18px; }
      .contact-item__text a {
        font-size: 16px;
        line-height: 18px; }
  .contact-map, .contact .map {
    height: 400px; } }

@media screen and (max-width: 768px) {
  .contact-item {
    width: calc(50% - 30px); }
  .hero-info {
    flex-wrap: wrap;
    margin-bottom: 0; }
  .hero-item {
    width: calc(100% - 20px);
    margin-bottom: 15px; }
  .hero-form form {
    flex-wrap: wrap; }
    .hero-form form label {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px; }
  .hero-bottom {
    padding: 20px; }
  .hero-price {
    flex-wrap: wrap; }
    .hero-price span {
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px; }
  .footer-logo {
    width: 100%;
    margin-bottom: 10px; }
  .question .title-section {
    font-size: 28px;
    line-height: 34px; }
  .question .container {
    flex-wrap: wrap; }
  .question-desc {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px; }
  .question-form {
    margin: 0 auto;
    width: 100%; }
  .banner.banner-second .banner-wrap {
    padding: 20px; }
  .banner.banner-second .banner-desc {
    max-width: 100%; }
  .banner.banner-second .banner-title {
    max-width: 100%; }
  .banner.banner-second .banner-info {
    max-width: 100%; }
  .banner.banner-second .banner-text {
    flex-wrap: wrap; }
  .title-section {
    font-size: 30px;
    line-height: 36px; }
  .service-item {
    width: calc(50% - 30px); }
    .service-item__title {
      font-size: 16px;
      line-height: 20px; }
  .btn-secondary {
    padding: 14px 10px;
    line-height: 20px; }
  .price-table__inner {
    max-height: 460px;
    width: 100%;
    overflow-x: scroll; }
    .price-table__inner.active {
      overflow: auto; }
  .price-table table {
    width: 760px; }
  .banner-title {
    font-size: 28px;
    line-height: 34px; }
  .banner-wrap {
    padding: 20px; }
  .banner-desc {
    width: 100%; }
  .banner-media {
    display: none; }
  .banner-messenger ul {
    flex-direction: row;
    flex-wrap: wrap; }
  .information {
    padding: 50px 0; }
    .information-item {
      margin-bottom: 30px; }
      .information-item__desc {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px; }
      .information-item__media {
        width: 100%;
        max-width: 480px; }
      .information-item:nth-of-type(2n) {
        flex-direction: column; }
      .information-item:nth-of-type(2n+1) {
        flex-direction: column; }
  .advantages-item {
    width: calc(100% - 30px); }
  .reviews-page .reviews-item {
    padding: 15px;
    flex-direction: column; }
  .reviews-page .reviews-item__desc {
    width: 100%;
    padding-left: 0;
    border-left: 0; } }

@media screen and (max-width: 576px) {
  .contact-item {
    width: calc(100% - 30px); }
  .hero-bottom__item {
    width: 100%; }
  .footer-service-nav {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    border-right: 0;
    border-bottom: 1px solid #E2E2E2; }
  .footer-nav {
    width: 100%;
    max-width: 100%; }
  .footer-bottom .container {
    flex-direction: column;
    text-align: center; }
  .title-section {
    font-size: 28px;
    line-height: 34px; }
  .how_work-item {
    width: calc(100% - 30px); }
  .team-nav {
    top: auto;
    bottom: -270px;
    z-index: 2;
    width: 100%; }
  .work-nav {
    top: auto;
    bottom: -230px;
    z-index: 2;
    width: 100%; }
  .reviews-nav {
    top: 10px; }
  .faq-item__title span {
    width: calc(100% - 30px); }
  .header-form {
    display: none; } }

@media screen and (max-width: 480px) {
  .header-top .container {
    flex-direction: column;
    align-items: flex-start; }
  .header-call {
    margin-bottom: 30px; }
  .faq-item__title {
    font-size: 16px;
    line-height: 24px; }
  .reviews .title-section {
    width: calc(100% - 80px); }
  .banner.banner-second .banner-form form {
    flex-direction: column; }
    .banner.banner-second .banner-form form label {
      max-width: 100%;
      display: block;
      margin-bottom: 15px; }
    .banner.banner-second .banner-form form input {
      width: 100%; }
  .service-wrap {
    justify-content: center; }
  .service-item {
    max-width: 400px;
    width: calc(100% - 30px); }
  .numbers-inner__title {
    font-size: 18px;
    line-height: 26px; }
  .numbers-item {
    width: 100%;
    max-width: 100%; } }
