@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueRegular.eot");
  src: local("UniNeueRegular"), local("UniNeueRegular"), url("../fonts/uni-neue/UniNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueRegular.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueRegular.woff") format("woff"), url("../fonts/uni-neue/UniNeueRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueBook.eot");
  src: local("UniNeueBook"), local("UniNeueBook"), url("../fonts/uni-neue/UniNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueBook.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueBook.woff") format("woff"), url("../fonts/uni-neue/UniNeueBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'UniNeue';
  src: url("../fonts/uni-neue/UniNeueBold.eot");
  src: local("UniNeueBold"), local("UniNeueBold"), url("../fonts/uni-neue/UniNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/uni-neue/UniNeueBold.woff2") format("woff2"), url("../fonts/uni-neue/UniNeueBold.woff") format("woff"), url("../fonts/uni-neue/UniNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Black';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }

.page-wrapper {
  font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  flex: 1 0 auto;
  z-index: 10; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex; }

.static-header {
  width: 100%;
  height: 100%;
  object-fit: contain; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  background: #F5F5F5; }

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  .container {
    max-width: 100%; } }

@media (min-width: 1230px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1230px;
    padding-right: 0;
    padding-left: 0; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 42px;
  line-height: 42px; }

h2 {
  font-size: 42px;
  line-height: 42px; }

h3 {
  font-size: 18px;
  line-height: 26px; }

h4 {
  font-size: 16px;
  line-height: 28px; }

h5 {
  font-size: 16px;
  line-height: 26px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

p {
  font-size: 14px;
  line-height: 23px; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #4A4D59;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  text-overflow: ellipsis;
  outline: none;
  height: 120px;
  resize: none; }

input {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #4A4D59;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 0;
  text-overflow: ellipsis;
  outline: none; }

.btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 1px solid #ED1C24;
  background: #ED1C24;
  box-shadow: 0px 13px 22px rgba(237, 28, 36, 0.24);
  color: #FFFFFF; }
  .btn-primary:hover {
    background: #ffffff;
    color: #ED1C24; }

.btn-secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #ED1C24;
  color: #FFFFFF; }
  .btn-secondary:hover {
    background: #ED1C24;
    box-shadow: 0px 13px 22px rgba(237, 28, 36, 0.24); }

.title-section {
  font-family: "Montserrat Black";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 79px;
  margin-bottom: 40px;
  -webkit-text-stroke: 3px #fff;
  letter-spacing: 0.01em;
  color: #262B3B;
  position: relative;
  text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
  z-index: 1; }
  .title-section span {
    position: relative;
    display: inline-block; }
    .title-section span:after {
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -63px;
      right: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='126' viewBox='0 0 122 126' fill='none'%3E%3Cpath d='M43.5138 0H122L78.4862 126H0L43.5138 0Z' fill='%23ED1C24'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 128px;
      height: 126px; }
  .title-section b {
    color: #ED1C24; }
  .title-section.title-section__white {
    color: #ffffff; }

.subtitle-section {
  font-family: "Montserrat Black";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #FFFFFF; }
  .subtitle-section span {
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.01em;
    color: #ED1C24;
    -webkit-text-stroke: 3px #fff; }
  .subtitle-section.subtitle-section__white {
    color: #ffffff; }

@media screen and (min-width: 992px) {
  .dn-d {
    display: none; } }

.dn-m {
  display: none; }
  @media screen and (min-width: 992px) {
    .dn-m {
      display: block; } }

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 12px 0; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-contact {
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px; }
    .header-contact a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      margin-left: 53px;
      display: flex;
      align-items: center; }
      .header-contact a .icon {
        width: 13px;
        height: 13px;
        fill: #ED1C24;
        margin-right: 5px; }
      .header-contact a:first-of-type {
        margin-left: 0; }
      .header-contact a.header-email {
        font-weight: 400; }
      .header-contact a:hover {
        color: #ED1C24; }

.footer {
  background: #111215;
  padding: 34px 0 0; }
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .footer-contact {
    display: flex;
    max-width: 450px;
    flex-wrap: wrap; }
    .footer-contact__title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 20px;
      width: 100%; }
    .footer-contact a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      margin-right: 70px; }
      .footer-contact a:hover {
        color: #ED1C24; }
      .footer-contact a:last-of-type {
        margin-right: 0; }
      .footer-contact a .icon {
        width: 13px;
        height: 13px;
        fill: #ED1C24;
        margin-right: 7px; }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; }
  .footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5); }
  .footer-link a {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 15px; }
    .footer-link a:last-of-type {
      margin-right: 0; }
    .footer-link a:hover {
      color: #ED1C24; }

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  visibility: hidden;
  transition: all ease 300ms;
  z-index: -1;
  text-align: center; }
  .popup.active {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 150; }
  .popup-wrap {
    position: relative;
    max-width: 400px;
    width: 100%;
    text-align: left;
    background: #ffffff;
    margin: 0 auto;
    padding: 15px;
    z-index: 121;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 32.9374px rgba(0, 50, 111, 0.1); }
  .popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px; }
    .popup-close:before, .popup-close:after {
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #FF7B0F; }
    .popup-close:before {
      transform: rotate(45deg); }
    .popup-close:after {
      transform: rotate(-45deg); }
  .popup-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #1E1E1E;
    margin-bottom: 10px;
    text-align: center; }
    .popup-title span {
      color: #FF7B0F; }
  .popup-subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 20px;
    text-align: center; }
  .popup-form {
    max-width: 420px;
    width: 100%;
    position: relative;
    z-index: 2; }
    .popup-form label {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #1E1E1E;
      display: block;
      text-align: left;
      margin-bottom: 10px; }
    .popup-form input, .popup-form textarea {
      margin-bottom: 20px; }
    .popup-form__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .popup-form .btn-primary {
      width: 100%;
      max-width: 190px; }
    .popup-form .politic {
      max-width: 145px;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #1E1E1E; }
      .popup-form .politic a {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        color: #FF7B0F; }
  .popup-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }

.hero {
  padding: 155px 0 70px;
  background-size: cover;
  background-position: center; }
  .hero-title {
    font-family: "Montserrat Black";
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 79px;
    letter-spacing: 0.01em;
    color: #262B3B;
    -webkit-text-stroke: 3px #fff;
    text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
    max-width: 495px;
    margin-bottom: 40px; }
  .hero-text {
    max-width: 343px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #262B3B;
    margin-bottom: 63px; }
  .hero-link {
    margin-bottom: 84px; }
  .hero-scroll {
    position: relative;
    padding-left: 35px; }
    .hero-scroll:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      height: 30px;
      width: 20px;
      margin-top: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.05 -0.000244141C4.5 -0.000244141 0 4.49958 0 10.0498V19.9498C0 25.5001 4.49982 29.9998 10.05 29.9998C15.6002 29.9998 20.1 25.4999 20.1 19.9498V10.0498C20.1 4.49976 15.6002 -0.000244141 10.05 -0.000244141ZM18.1 19.9498C18.1 24.3998 14.5 27.9998 10.05 27.9998C5.6 27.9998 2 24.3998 2 19.9498V10.0498C2 5.59976 5.6 1.99976 10.05 1.99976C14.5 1.99976 18.1 5.59976 18.1 10.0498V19.9498Z' fill='%23262B3B'/%3E%3Cpath d='M11.0499 6.34976V10.7998C11.0499 11.3498 10.6 11.7997 10.05 11.7997C9.49997 11.7997 9.05005 11.3498 9.05005 10.7998V6.34976C9.05005 5.79975 9.49997 5.34985 10.05 5.34985C10.6 5.34985 11.0499 5.79977 11.0499 6.34976Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat; }

.container-fluid {
  max-width: 1544px;
  margin: 0 auto;
  width: 100%; }

.bg-text {
  position: absolute;
  color: transparent;
  font-family: "Montserrat Black";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 183px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(207, 213, 227, 0.45);
  transform: rotate(90deg); }

.about {
  padding: 140px 0 140px; }
  .about-wrap {
    display: flex;
    align-items: center;
    padding: 30px; }
  .about .title-section {
    padding-top: 15px; }
    .about .title-section span:after {
      margin-top: -56px;
      right: -53px; }
  .about-desc {
    padding: 0 70px; }
  .about .container-fluid {
    position: relative; }
  .about-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #262B3B; }
  .about .bg-text {
    right: -375px;
    top: 250px; }

.advantages {
  padding: 0 0 80px; }
  .advantages .title-section {
    text-align: center;
    position: relative;
    z-index: 3; }
    .advantages .title-section span:after {
      left: 0;
      right: 0;
      margin: -60px auto 0; }
  .advantages .container {
    position: relative; }
  .advantages-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 3; }
  .advantages-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 284px;
    margin-bottom: 60px; }
    .advantages-item:nth-of-type(2n+1) {
      text-align: right;
      margin-right: 600px; }
    .advantages-item__media {
      width: 100%;
      margin-bottom: 20px; }
      .advantages-item__media span {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        position: relative; }
        .advantages-item__media span:before, .advantages-item__media span:after {
          position: absolute;
          content: '';
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: #FFFFFF;
          border-radius: 50%; }
        .advantages-item__media span:before {
          width: 86px;
          height: 86px;
          box-shadow: 0px 1px 22px rgba(6, 11, 48, 0.09);
          z-index: 2; }
        .advantages-item__media span:after {
          width: 102px;
          height: 102px;
          box-shadow: 0px 6px 29px rgba(6, 11, 48, 0.09); }
        .advantages-item__media span img {
          position: relative;
          z-index: 3; }
    .advantages-item__title {
      width: 100%;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #262B3B;
      margin-bottom: 5px; }
    .advantages-item__text {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #4A4D59; }
  .advantages-bg {
    margin-top: 43px;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%); }
    .advantages-bg img {
      top: 50%;
      left: 50%;
      z-index: 3;
      position: absolute;
      transform: translate(-42%, -44%); }
    .advantages-bg span {
      position: absolute;
      z-index: 2;
      width: 20px;
      height: 162px;
      right: 26px;
      top: 220px;
      background: #fff; }
    .advantages-bg:before, .advantages-bg:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1; }
    .advantages-bg:before {
      width: 600px;
      height: 600px;
      background: #FFFFFF;
      box-shadow: 0px 6px 29px rgba(6, 11, 48, 0.09); }
    .advantages-bg:after {
      width: 546px;
      height: 548px;
      border: 1px dashed #ED1C24; }

.product {
  padding: 140px 0 108px;
  background-size: cover;
  background-repeat: no-repeat; }
  .product .title-section {
    text-align: center;
    position: relative;
    z-index: 3;
    margin-bottom: 85px; }
    .product .title-section span:after {
      left: 0;
      right: 0;
      margin: -60px auto 0; }
  .product-wrap {
    display: flex;
    flex-wrap: wrap; }
  .product-item {
    width: 33.33%;
    max-width: 308px;
    margin: 0 auto;
    text-align: center; }
    .product-item:nth-of-type(2) .product-item__media {
      animation-duration: 8s; }
      .product-item:nth-of-type(2) .product-item__media:after {
        border-color: #00A3FF; }
      .product-item:nth-of-type(2) .product-item__media span {
        border-color: #00A3FF; }
        .product-item:nth-of-type(2) .product-item__media span:before {
          background: #00A3FF; }
    .product-item:nth-of-type(3) .product-item__media {
      animation-duration: 25s; }
      .product-item:nth-of-type(3) .product-item__media:after {
        border-color: #ED1C24; }
      .product-item:nth-of-type(3) .product-item__media span {
        border-color: #ED1C24; }
        .product-item:nth-of-type(3) .product-item__media span:before {
          background: #ED1C24; }
    .product-item__media {
      width: 106px;
      height: 106px;
      margin: 0 auto 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: orbit; }
      .product-item__media-title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .product-item__media img {
        position: absolute; }
      .product-item__media:after {
        position: absolute;
        content: '';
        top: -11px;
        left: -11px;
        border: 1px dashed #FE980D;
        width: calc(100% + 22px);
        height: calc(100% + 22px);
        border-radius: 50%;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbitBack; }
      .product-item__media span {
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #FE980D;
        top: 0; }
        .product-item__media span:before {
          position: absolute;
          content: '';
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          background: #FE980D; }
        .product-item__media span:nth-of-type(1) {
          left: -5px;
          top: 84px; }
        .product-item__media span:nth-of-type(2) {
          left: 100px;
          top: 82px; }
        .product-item__media span:nth-of-type(3) {
          left: 49px;
          top: -16px; }
    .product-item__inner {
      position: relative; }
    .product-item__title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF;
      margin-bottom: 10px;
      z-index: 3; }
    .product-item__text {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #BEC1CC; }

@keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes orbitBack {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

.delivery {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0; }
  .delivery .container {
    display: flex;
    justify-content: space-between; }
  .delivery .title-section {
    padding-top: 26px;
    margin-bottom: 48px; }
    .delivery .title-section span:after {
      right: auto;
      left: -50px;
      margin-top: -65px; }
  .delivery-desc {
    width: 50%;
    max-width: 550px; }
  .delivery-text {
    max-width: 525px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #262B3B; }
    .delivery-text p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #262B3B;
      margin-bottom: 22px; }
      .delivery-text p:last-of-type {
        margin-bottom: 0; }
  .delivery-media {
    width: 60%;
    max-width: 600px; }

.sale {
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .sale .container {
    position: relative; }
  .sale .slick-list {
    width: calc(100% + 120px);
    margin: 0 -60px; }
  .sale .slide {
    padding: 140px 0; }
    .sale .slide .title-section {
      max-width: 656px;
      margin-bottom: 0px; }
      .sale .slide .title-section span:after {
        left: -60px;
        right: auto;
        top: -20px;
        margin-top: 0; }
    .sale .slide .subtitle-section {
      margin: -8px 0 40px; }
  .sale-item {
    position: relative;
    padding: 0 60px; }
    .sale-item__text {
      position: absolute;
      top: 0;
      right: 60px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: right;
      color: #BEC1CC;
      max-width: 390px; }
  .sale-slider__nav {
    display: flex;
    position: absolute;
    bottom: 150px;
    right: 23px; }

.prev, .next {
  cursor: pointer;
  position: relative; }
  .prev .icon, .next .icon {
    stroke: #fff;
    fill: #fff;
    width: 40px;
    stroke-width: 2px; }
  .prev:before, .next:before {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 50%;
    margin-top: -34px;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 300ms; }
  .prev:hover:before, .next:hover:before {
    opacity: 1; }

.prev {
  margin-right: 5px; }
  .prev:before {
    left: -22px; }

.next {
  margin-left: 5px; }
  .next:before {
    left: 8px; }

.partner {
  padding: 140px 0;
  overflow: hidden; }
  .partner .container {
    position: relative; }
  .partner .title-section span:after {
    left: -35px;
    right: auto; }
  .partner .slick-list {
    padding: 0 -15px; }
  .partner .slick-slide {
    padding: 15px; }
  .partner .slide {
    height: 146px;
    background: #FFFFFF;
    border: 2px solid #EBECF0;
    display: flex !important;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 30px;
    justify-content: center;
    flex-direction: column; }
    .partner .slide img {
      width: 100%; }
    .partner .slide:hover {
      background: #FFFFFF;
      box-shadow: 0px 17px 44px rgba(18, 28, 43, 0.11);
      border-color: #fff; }
  .partner .bg-text {
    transform: rotate(0);
    position: absolute;
    bottom: 70px;
    right: -100px; }
  .partner .partner-slider__nav {
    position: absolute;
    z-index: 2;
    display: flex;
    top: 40px;
    right: 23px; }
    .partner .partner-slider__nav .prev .icon, .partner .partner-slider__nav .next .icon {
      stroke: #ED1C24;
      fill: #ED1C24; }
    .partner .partner-slider__nav .prev:before, .partner .partner-slider__nav .next:before {
      border-color: #ED1C24; }

.order {
  padding: 130px 0;
  background-size: cover; }
  .order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
  .order .title-section {
    margin-bottom: 0; }
    .order .title-section span:after {
      left: -35px;
      right: auto; }
  .order .text-section {
    max-width: 646px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #BEC1CC; }
  .order-form__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 64px; }
  .order-form__title {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 15px 20px; }
  .order-form__button {
    text-align: right; }
  .order .select-block {
    width: calc(33.333% - 30px);
    position: relative;
    margin: 0 15px 0; }
    .order .select-block ul {
      position: absolute;
      opacity: 0;
      top: 100%;
      left: 0;
      visibility: hidden;
      z-index: -1;
      width: 100%;
      padding: 5px 30px;
      background: #fff; }
      .order .select-block ul.active {
        z-index: 2;
        opacity: 1;
        visibility: visible; }
      .order .select-block ul li {
        cursor: pointer; }
    .order .select-block input {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute; }
  .order label {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: block; }
    .order label span {
      display: block;
      margin-bottom: 10px; }
  .order .select-block__title {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #4A4D59;
    padding: 22px 30px;
    display: block;
    background: #fff; }
  .order .label {
    width: calc(33.333% - 30px);
    margin: 0 15px 0; }
    .order .label input {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      padding: 22px 30px;
      color: #4A4D59;
      display: block; }
  .order .modal-group {
    width: calc(33.333% - 30px);
    margin: 15px 15px 0 calc(33.333% + 15px);
    position: relative; }
    .order .modal-group input {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute; }

@media screen and (max-width: 1720px) {
  .about .bg-text {
    right: -180px;
    top: 280px;
    font-size: 90px;
    line-height: 90px; } }

@media screen and (max-width: 1510px) {
  .about-media {
    width: 50%; }
    .about-media img {
      width: 100%; }
  .about-desc {
    padding: 0 30px;
    max-width: 630px;
    width: 50%; } }

@media screen and (max-width: 1440px) {
  .about .title-section {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px; }
    .about .title-section span:after {
      width: 110px;
      height: 106px; }
  .advantages-item:nth-of-type(2n+1) {
    margin-right: 300px; }
  .advantages-bg {
    width: 380px;
    height: 380px; }
    .advantages-bg:before {
      width: 380px;
      height: 380px; }
    .advantages-bg:after {
      width: 326px;
      height: 328px; }
    .advantages-bg img {
      width: 330px; }
    .advantages-bg span {
      width: 20px;
      height: 122px;
      right: 26px;
      top: 150px; }
  .delivery .title-section {
    padding-left: 40px;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
    -webkit-text-stroke: 2px #fff; }
  .delivery-media {
    width: 50%; }
    .delivery-media img {
      width: 100%; }
  .delivery-desc {
    padding-right: 30px; }
  .sale .slick-slider {
    overflow: hidden; }
  .sale .slick-list {
    margin: 0;
    width: 100%; }
  .sale .sale-item {
    padding: 0;
    position: relative; }
    .sale .sale-item__text {
      right: 0; }
  .sale .sale-slider__nav {
    right: 35px; }
  .sale .slide .title-section {
    padding-left: 60px; }
  .sale .slide .subtitle-section {
    padding-left: 60px; }
  .sale .slide .sale-item__link {
    padding-left: 60px; } }

@media screen and (max-width: 1200px) {
  .header-contact a {
    color: #262B3B;
    font-weight: 700;
    -webkit-text-stroke: .5px #fff; } }

@media screen and (max-width: 992px) {
  .hero {
    padding: 90px 0 1px; }
    .hero-title {
      font-size: 50px;
      line-height: 59px;
      max-width: 320px; }
    .hero-text {
      max-width: 240px; }
    .hero-scroll {
      display: none; }
  .title-section {
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 1px #fff; }
    .title-section span:after {
      width: 52px;
      height: 54px;
      margin: -28px auto 0; }
  .about {
    padding: 0; }
    .about .about .bg-text {
      right: -200px;
      top: 60%; }
    .about-wrap {
      flex-wrap: wrap;
      padding: 60px 15px 60px; }
    .about-text {
      font-size: 16px;
      line-height: 26px; }
      .about-text p {
        margin-bottom: 16px; }
    .about-desc {
      padding: 0;
      width: 100%;
      max-width: 100%; }
    .about .title-section {
      width: 100%;
      text-align: center;
      -webkit-text-stroke: 1px #fff;
      font-size: 30px;
      line-height: 30px; }
      .about .title-section span:after {
        width: 52px;
        height: 54px;
        right: 0;
        left: 0;
        margin: -28px auto 0; }
    .about-media {
      margin: 0 auto 20px;
      width: 100%;
      max-width: 600px; }
  .advantages {
    padding: 60px 0 60px; }
    .advantages .title-section span:after {
      margin: -28px auto 0; }
    .advantages-item {
      justify-content: space-between;
      align-items: center;
      max-width: calc(50% - 30px);
      margin-bottom: 30px; }
      .advantages-item:nth-of-type(2n+1) {
        margin-right: 30px;
        text-align: left; }
      .advantages-item__media {
        width: 70px;
        margin-bottom: 5px; }
        .advantages-item__media span {
          width: 70px;
          height: 70px; }
          .advantages-item__media span:before {
            width: 60px;
            height: 60px; }
          .advantages-item__media span:after {
            width: 70px;
            height: 70px; }
          .advantages-item__media span img {
            width: 34px;
            height: 34px; }
      .advantages-item__title {
        width: calc(100% - 90px);
        font-size: 16px;
        line-height: 28px; }
    .advantages-bg {
      margin: 30px auto 0;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0); }
  .product {
    padding: 60px 0 30px; }
    .product .title-section span:after {
      margin: -28px auto 0; }
    .product-wrap {
      margin: 0 -15px; }
    .product-item {
      width: 50%;
      max-width: 50%;
      padding: 0 15px;
      text-align: left;
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px; }
      .product-item__inner {
        height: 110px; }
      .product-item__desc {
        padding-left: 30px; }
      .product-item__title {
        font-size: 16px;
        line-height: 24px; }
      .product-item__text {
        font-size: 14px;
        line-height: 22px; }
  .delivery {
    padding: 60px 0; }
    .delivery-desc {
      width: 100%;
      max-width: 100%;
      padding-right: 0; }
    .delivery-text {
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      line-height: 26px; }
      .delivery-text p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 16px; }
      .delivery-text img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin-bottom: 16px; }
    .delivery-media {
      display: none; }
    .delivery .title-section {
      font-size: 30px;
      padding-left: 20px;
      line-height: 30px;
      -webkit-text-stroke: 1px #fff; }
      .delivery .title-section span:after {
        margin-top: -28px;
        left: -20px; }
  .footer-contact {
    max-width: 400px; }
    .footer-contact a {
      margin-right: 15px; }
  .sale .slide {
    padding: 60px 0 80px; }
    .sale .slide .title-section {
      padding-left: 20px; }
      .sale .slide .title-section span:after {
        left: -20px; }
    .sale .slide .subtitle-section {
      margin: 0 0 20px;
      padding-left: 0;
      font-size: 20px;
      line-height: 25px;
      display: flex;
      align-items: flex-end; }
      .sale .slide .subtitle-section span {
        font-size: 60px;
        line-height: 60px;
        margin-left: 5px; }
    .sale .slide .sale-item__link {
      padding-left: 0; }
    .sale .slide .sale-item__text {
      right: 0;
      position: relative;
      text-align: left;
      margin-bottom: 20px; }
  .sale .sale-slider__nav {
    margin: 0 0 0;
    display: flex;
    position: relative;
    bottom: 20px;
    right: 0;
    width: 100%;
    justify-content: space-between; }
  .prev:before, .next:before {
    width: 35px;
    height: 35px;
    margin-top: -24px; }
  .prev:before {
    left: -10px; }
  .next:before {
    left: 15px; }
  .partner {
    padding: 60px 0; }
    .partner .title-section {
      padding-left: 50px; }
    .partner .slide {
      height: 100px; }
    .partner .partner-slider__nav {
      position: relative;
      left: 0;
      right: 0;
      display: flex;
      top: 0;
      width: 100%;
      justify-content: space-between; }
  .order-top {
    flex-wrap: wrap; }
  .order .title-section {
    padding-left: 50px;
    margin-bottom: 40px; }
  .order .text-section {
    width: 100%;
    text-align: left;
    max-width: 100%;
    font-size: 14px;
    line-height: 14px; }
  .order .select-block {
    width: calc(50% - 30px);
    margin-bottom: 10px; }
  .order .label {
    width: calc(50% - 30px);
    margin-bottom: 10px; } }

@media screen and (max-width: 768px) {
  .header-logo {
    width: 200px; }
    .header-logo img {
      width: 100%; }
  .header-contact {
    flex-direction: column; }
    .header-contact a {
      margin-left: 0;
      margin-bottom: 5px; }
  .hero-title {
    font-size: 29px;
    line-height: 29px;
    -webkit-text-stroke: 1px #fff; }
  .product-item {
    width: 100%;
    max-width: 100%; } }

@media screen and (max-width: 576px) {
  .hero {
    padding: 90px 0 20px; }
    .hero-text {
      font-size: 16px;
      line-height: 22px;
      -webkit-text-stroke: .2px #fff;
      max-width: 112px; }
  .btn-primary, .btn-secondary {
    font-size: 14px; }
  .advantages .title-section {
    padding-left: 20px;
    text-align: left; }
    .advantages .title-section span:after {
      right: auto;
      left: -20px; }
  .advantages-item {
    max-width: 100%;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .advantages-bg {
    height: 290px;
    width: 290px; }
    .advantages-bg span {
      width: 10px;
      height: 69px;
      right: 10px;
      top: 126px; }
    .advantages-bg:before {
      height: 290px;
      width: 290px; }
    .advantages-bg:after {
      height: 264px;
      width: 264px; }
    .advantages-bg img {
      width: 250px; } }
