.footer{
  background: #111215;
  padding: 34px 0 0;
  &-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba($white, .15);

  }
  &-contact{
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    &__title{
      font-family: $MainFont;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: rgba($white, .5);
      margin-bottom: 20px;
      width: 100%;
    }
    a{
      font-family: $Inter;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      margin-right: 70px;
      &:hover{
        color: #ED1C24;
      }
      &:last-of-type{
        margin-right: 0;
      }
      .icon{
        width: 13px;
        height: 13px;
        fill: #ED1C24;
        margin-right: 7px;
      }
    }
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &-copy{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba($white, .5);
  }
  &-link{
    a{
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: rgba($white, .5);
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
      &:hover{
        color: #ED1C24;
      }
    }
  }
}