.hero{
  padding: 155px 0 70px;
  background-size: cover;
  &-title{
    font-family: $MontserratFont;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 79px;
    letter-spacing: 0.01em;
    color: #262B3B;
    -webkit-text-stroke: 5px #fff;
    text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
    max-width: 495px;
    margin-bottom: 40px;
  }
  &-text{
    max-width: 343px;
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #262B3B;
    margin-bottom: 63px;
  }
}
.container-fluid{
  max-width: 1544px;
  margin: 0 auto;
  width: 100%;
}
.bg-text{
  position: absolute;
  color: transparent;
  font-family: $MontserratFont;
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 183px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #A5ADC2;
  transform: rotate(90deg);
}
.about{
  &-wrap{
    display: flex;
    align-items: center;
    padding: 30px;
  }
  &-desc{
    padding: 0 70px;
  }
  .bg-text{
    right: 100px;
  }
}