body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: $MainFont;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  background: #F5F5F5;
}
.container{width:100%;padding-right:20px;padding-left:20px;margin-right:auto;margin-left:auto}
@media (min-width:992px){.container{max-width:100%;}}@media (min-width:1230px){.container{max-width:1200px;}}
@media (min-width:1440px){.container{max-width:1200px;padding-right:0;padding-left:0;}}
h1, h2, h3, h4, h5, h6{
  font-family: $MainFont;
}
h1 {
  font-size: 42px;
  line-height: 42px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea{
  display: inline-block;
  font-family: $MainFont;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: $default;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  text-overflow: ellipsis;
  outline: none;
  height: 120px;
  resize: none;
}
input{
  display: inline-block;
  font-family: $MainFont;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: $default;
  padding: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  text-overflow: ellipsis;
  outline: none;
  //&::-webkit-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&::-moz-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:-moz-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&::-ms-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:-ms-input-placeholder {
  //  color: $gray;
  //  opacity: 1;
  //}
  //&:focus,
  //&:active {
  //  border-color: $default;
  //}
  //// invalid
  //&:invalid {
  //  box-shadow: none;
  //}
  //&:-moz-submit-invalid {
  //  box-shadow: none;
  //}
  //&:-moz-ui-invalid {
  //  box-shadow: none;
  //}
}
.btn-primary{
  font-family: $MainFont;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 1px solid #ED1C24;
  background: #ED1C24;
  box-shadow: 0px 13px 22px rgba(237, 28, 36, 0.24);
  color: #FFFFFF;
  &:hover{
    background: $white;
    color: #ED1C24;
  }
}
.btn-secondary{
  font-family: $MainFont;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #ED1C24;
  color: #FFFFFF;
  &:hover{
    background: #ED1C24;
    box-shadow: 0px 13px 22px rgba(237, 28, 36, 0.24);
  }
}
.title-section{
  font-family: $MontserratFont;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 79px;
  margin-bottom: 40px;
  -webkit-text-stroke: 3px #fff;
  letter-spacing: 0.01em;
  color: #262B3B;
  position: relative;
  text-shadow: 0px 4px 24px rgba(16, 21, 38, 0.09);
  z-index: 1;
  span{
    position: relative;
    display: inline-block;
    &:after{
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -63px;
      right: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='126' viewBox='0 0 122 126' fill='none'%3E%3Cpath d='M43.5138 0H122L78.4862 126H0L43.5138 0Z' fill='%23ED1C24'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 128px;
      height: 126px;
    }
  }
  b{
    color: #ED1C24;
  }
  &.title-section__white{
    color: $white;
  }
}
.subtitle-section{
  font-family: $MontserratFont;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  span{
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.01em;
    color: #ED1C24;
    -webkit-text-stroke: 3px #fff;
  }
  &.subtitle-section__white{
    color: $white;
  }
}
ol{
  list-style: none;
  counter-reset: item;
  li{
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: $default;
    padding-left: 48px;
    position: relative;
    counter-increment: item;
    &:before{
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 0;
      content: counter(item);
      width: 31px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      color: $white;
      background: $primary;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
  }
}
.tab-item{
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease;
  &.active{
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: 1;
  }
}

//.popup{
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  width: 100%;
//  margin: 0 auto;
//  max-width: 1210px;
//  background: #181818;
//  transition: all ease 150ms;
//  z-index: -1;
//  visibility: hidden;
//  opacity: 0;
//
//  &.active{
//    z-index: 9;
//    visibility: visible;
//    opacity: 1;
//    top: 125px;
//    max-height: 550px;
//    height: calc(100% - 125px);
//    overflow-x: hidden;
//    overflow-y: auto;
//    &::-webkit-scrollbar {
//      width: 5px;
//      background: #242424;
//    }
//
//    &::-webkit-scrollbar-track {
//      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//
//    }
//    &::-webkit-scrollbar-thumb {
//      background: #E96735;
//      outline: 1px solid #E96735;
//    }
//  }
//  &-wrap{
//    display: flex;
//    flex-wrap: wrap;
//    margin: 0 -20px;
//    padding: 39px 35px 0;
//  }
//  &-item{
//    width: calc(33.3333% - 40px);
//    margin: 0 20px 30px;
//    &__media{
//      margin-bottom: 18px;
//    }
//    &__title{
//      font-weight: 600;
//      font-size: 20px;
//      line-height: 30px;
//      color: $default;
//      margin-bottom: 1px;
//    }
//    &__desc{
//      font-weight: 300;
//      font-size: 16px;
//      line-height: 28px;
//      color: #FFFFFF;
//      span{
//        margin-top: 5px;
//        display: block;
//        font-weight: 300;
//        font-size: 13px;
//        line-height: 22px;
//        color: #FFFFFF;
//        opacity: 0.6;
//      }
//    }
//  }
//  &-bottom{
//    padding: 31px 35px 34px;
//    position: relative;
//    display: flex;
//    &:before{
//      position: absolute;
//      content: '';
//      top: 0;
//      left: 0;
//      right: 0;
//      margin: 0 auto;
//      background: #252525;
//      width: calc( 100% - 45px);
//      height: 1px;
//    }
//    &__title{
//      max-width: 160px;
//      font-weight: 700;
//      font-size: 16px;
//      line-height: 26px;
//      color: #E96735;
//    }
//    &__list{
//      li{
//        font-weight: 600;
//        font-size: 16px;
//        line-height: 26px;
//        color: #fff;
//      }
//      span{
//        width: 75px;
//        display: inline-block;
//      }
//      a{
//        display: inline-block;
//        font-weight: 600;
//        font-size: 16px;
//        line-height: 26px;
//        color: #FFFFFF;
//        &:hover{
//          color: #E96735;
//        }
//      }
//    }
//  }
//}
html{

  @media screen and (max-width: 1200px) {
    font-size: calc((100vw / 12) / 10 );
  }
  @media screen and (max-width: 992px) {
    font-size: calc((100vw / 12) / 10 );
  }
}
//.text-first__animation span{
//    position: relative;
//    display: inline-block;
//    transition: all ease 300ms;
//    transform: translate(-60px, -60px);
//}
//.text-first__animation span.active{
//  transform: translate(0, 0);
//}
.hero-test-text{
  font-size: 1.4rem;
  line-height: 1.2;
}
.dn-d{
  @media screen and (min-width: 992px){
    display: none;
  }
}
.dn-m{
  display: none;
  @media screen and (min-width: 992px){
      display: block;
  }
}